/* 
HS color: #005F92, rgba(0, 95, 146, 1)
Base color: #3697d9
separator: pr-(px) --> pr-5, pr-10...
columns: col-xs-6 (small screen) col-lg-6 (large) col-md-10 (medium)
backgrounds: default-bg

*/

.hscolor {
	color: #005F92;
}

/* logo */

.site-slogan {
  font-size: 14px;
  letter-spacing: 0.7px;
}

/* menu */
/* menu mobile */
.header.dark {
  background-color: #005F92;
  border-top-color: #384147;
}

.transparent-header header.header.dark.transparent-header-on {
  background-color: rgba(0, 95, 146, 1);
  border-top-color: rgba(36, 42, 46, 0.5);
}

.fixed-header-on .dark.header.fixed {
	background-color: #005F92;
}


/* hack for Index class="dropdown dropdown_off */
.dropdown_off > a:before {
  content: "";
}
/* menu servicios */
.menu_logos{
	font-size: 50pt;
	margin-top: 25px;
	letter-spacing: -10px;
}

.menu_logos_blogs{
	font-size: 20pt;
	line-height: 10px;
}
/* Large devices (Large desktops 1200px and up) */
.col-md-3 + .col-md-9 .mega-menu:not(.narrow) .dropdown-menu {
    width: 800px!important;
  }

.services_list {
	font-size: 96px;
	color: #f7f7f7;
	background-color: transparent;
}

.margin_icons {
	margin-right: 25px !important;
}
.background-img-1 {
  background: url("../images/main_HS_background.jpg") 50% 0px no-repeat;
}
.background-img-2 {
	background: url("../images/main_AF_background.jpg") 100% 0px no-repeat;
}

/* services */

.serv_logos{
	font-size: 48pt;

}

.text_banner {
	color:  #ffffff !important;
}
.header-top.colored {
  background-color: #005F92;
  border-bottom: 1px solid #3697d9;
}

/* NEW: Centre a group of divs via CSS .classes */

.outer-div { position: relative; float: right; right: 50%; }
.inner-div { position: relative; float: right; right: -50%; }
.floating-div { float: left; margin-left:30px;}

.clearfix:before,
.clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* tabs 
.nav-tabs.style-1 > li > a:hover {
    border-color: #005F92 !important;
    border-color: #005F92!important;
    background-color: #005F92!important;	
}
.nav-tabs.style-1 > li > a {
    color: #005F92;
}
.nav-tabs.style-1 > li.active > a:after {
    border-color: transparent transparent transparent #005F92;
}	
.nav-tabs.style-1 > li.active > a:before {
    border-color: transparent #005F92 transparent transparent;	
}	
.nav-tabs.style-1 > li.active > a {
    background-color: #005F92 !important;
}	
.nav-tabs.style-1 > li.active > a, .nav-tabs.style-1 > li.active > a:hover, .nav-tabs.style-1 > li.active > a:focus {
    border-color: #005F92;
}
*/
/* service panels */
.collapse-style-2 .panel-heading a {
    background-color: #005F92;
}

.collapse-style-2 .panel-heading a.collapsed {
    background-color: #3697d9;
}

/* UAD panels */
.container .content-slider-with-large-controls-autoplay {
  margin-bottom: 0px;
}


.services-container .image-box{
}

.services-container .image-box .body{
  min-height: 250px;
}

.services-container .image-box .more-info-service-button{
  margin: 15px 50px !important;
  display: block;
}

.blog-box .overlay-container{
  min-height: 215px;
}
.blog-box .overlay-container .helper{
  display: inline-block;
  height: 100%;
}
.blog-box .overlay-container img {
  vertical-align: middle;
  text-align: center;
  margin:auto;
}

div#cookies-law
{
  margin: auto;
  position: fixed;
  bottom: 0px;
  z-index: 999;
  width: 100%;
  text-align: center;
}
div#cookies-law > .alert
{
  margin:0;
  padding: 10px 20px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-color: #000;
  color: #FFF;
  text-shadow: none;
}
div#cookies-law > .alert > button
{
  margin-right: 10px;
  background-color: #FFF;
  color: #333;
  border: 1px solid #333;
  padding: 2px 10px;
}
div#cookies-law > .alert > button > i
{
  margin-top: 5px;
}

p.title-as-summary {
  font-size: 1.5em;
  font-weight: 400;
}